<div class="hero min-h-screen" style="background-image: url('../../../assets/FondoPortfolio.jpeg');">
  <div class="hero-overlay bg-opacity-15"></div>
  <div class="hero-content text-center top-3 text-neutral-content">
    <div class="max-w-md">
      <div class="mt-64">
        <h1 class="mb-5 text-cyan-700 font-extrabold text-5xl ">PORTFOLIO</h1>
        <h1 class="mb-3 text-cyan-600 font-extrabold text-3xl ">Fco Javier Gómez García.</h1>
      </div>
      <button type="button"
       class="btn btn-active text-cyan-600  w-4/5 text-2xl font-extrabold" routerLink="/folio">Start</button>
    </div>
  </div>
</div>